<app-employee-sidebar></app-employee-sidebar>

<div class="page-container d-flex flex-column justify-content-center align-items-center vh-100">
    <h2 class="title-page mb-4 fw-bold">Solicitações Abertas</h2>
    <section class="sectionTable container">
      <div class="tableBox p-3 rounded">
        <table id="tableSolic" class="display">
          <thead>
            <tr>
              <th>Solicitação</th>
              <th>Data/Hora</th>
              <th>Cliente</th>
              <th>Descrição do Equipamento</th>
              <th>Estado</th>
              <th>Acões Disponíveis</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let request of requestSolicitacao ">
              <td>Solicitação {{ request.id }}</td>
              <td>{{ request.dataHoraCriacao |  date: 'dd/MM/yyyy HH:mm'}}</td>
              <td>{{ request.cliente.nome }}</td>
              <td class="td-descricao">{{ request.descricaoEquipamento }}</td>
              <td class="td-estado-aberta">{{ request.estadoSolicitacao.descricao }}</td>
              <td>
                <button class="btn btn-acao btn-orcar" (click)="doBudget(request)">Realizar Orçamento</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>
