.page-container{
  padding: 35px; 
  font-family: 'Poppins', sans-serif;
  margin-left: 200px;
  padding-top: 2rem;
}

.title-page{
  color: #005A9B;
  margin-left: 30px;    
}
.btn{
  margin-left: 270px;
  color:white;
  border: none;
  border-radius: 7px;
}

.btn-success {
  background-color: #168E03;
}

.price{
  color: #4682B4;
  font-size: 2.1rem;
}

#line{
  width: 100%;
}
.btn-return-box  {
  background-color: #97A0A7;
  color: white;
  border: none;
  border-radius: 7px;
  padding: 0.3rem 2rem 0.3rem 2rem;
  font-size: 1.4rem;
}
#status{
  color: red;
  font-weight: bold;
}
.modal-header{
  background-color: #168E03;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.modal-header-reject {
    background-color:  #DC3545;
}

.box-actions {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 !important;
}

.div-value, .div-buttons-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.div-value {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.div-value p {
  font-size: 1.5rem;
}

.div-buttons-actions {
  margin-top: 3rem;
  gap: 2rem;
}

.button-action  {
  padding: 0.6rem 2rem;
  font-size: 1.2rem;
  color: white;
  font-weight: 700;
  border: none;
  border-radius: 9px;
}

.button-action:hover {
  filter: brightness(1.1);
}

.button-action.reject {
  background-color: #DC3545;
}

.button-action.approve {
  background-color: #168E03;
}

/*
.page-container {
  font-family: 'Poppins', sans-serif;
  background-color: #f8f9fa;
  margin-left: 200px;
  padding-top: 2rem;
}

.tableBox {
  width: 80%;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title-page {
  color: #005A9B;
  margin-left: 30px; 
}

.details-section p {
  font-size: 1.2rem;
}

.price-section {
  background-color: #f1f1f1;
}

.action-buttons {
  margin-top: 20px;
}

.custom-modal-header {
  background-color: #005A9B;
  color: white;
}

.btn-return-box  {
  background-color: #97A0A7;
  color: white;
  border: none;
  border-radius: 7px;
  padding: 0.3rem 2rem 0.3rem 2rem;
  font-size: 1.4rem;
}

*/