<app-sidebar [title]="'Orçamento do Serviço'"></app-sidebar>

<div *ngIf="budget" class="page-container d-flex flex-column align-items-center vh-100">
  <h2 class="title-page mt-5 fw-bold">Detalhes da Solicitação {{ budget.idOrcamento }}</h2>
    <div class="container-fluid mt-4">
      <ul class="  d-flex flex-row gap-1">
        <p class=" fw-bold ">Data  Hora da Solicitação :</p>
        <p>{{ budget.solicitacao.dataHoraCriacao | date: 'dd/MM/yyyy HH:mm'}}</p>
      </ul>
      <ul class="  d-flex flex-row gap-1">
        <p class="fw-bold">Descrição do Equipamento :</p>
        <p>{{ budget.solicitacao.descricaoEquipamento }}</p>
        <ul class="  d-flex flex-row gap-1">
          <p class="fw-bold">Categoria do equipamento :</p>
          <p>{{budget.solicitacao.categoriaEquipamento.descricao}}</p>
        </ul>
        <ul class="  d-flex flex-row gap-1">
          <p class="fw-bold">Descrição do Defeito :</p>
          <p>{{ budget.solicitacao.descricaoDefeito }}</p>
        </ul>
      </ul>
   
  
      <ul class="  d-flex flex-row gap-1">
        <p class="fw-bold">Estado Atual da Solicitação:</p>
        <p>{{ budget.solicitacao.estadoSolicitacao.descricao }}</p>
        <ul class="  d-flex flex-row gap-1">
          <p class="fw-bold">Data/Hora do Orçamento:</p>
          <p>{{ budget.dataHoraCriacao | date: 'dd/MM/yyyy HH:mm' }}</p>
        </ul>
        <ul class=" d-flex flex-row gap-1">
          <p class="fw-bold">Orçamento Realizado por:</p>
          <p>{{budget.nomeFuncionario}}</p>
        </ul>
      </ul>

      <ul class="  d-flex flex-row gap-1">
        <p class="fw-bold">Estado Atual Orçamento:</p>
        <p *ngIf="!budget.aprovado && !budget.rejeitado">AGUARDANDO RESPOSTA DO CLIENTE</p>
        <p *ngIf="budget.aprovado">APROVADO</p>
        <p *ngIf="budget.rejeitado">REJEITADO</p>

        <ul *ngIf="budget.aprovado" class="d-flex flex-row gap-1">
          <p class="fw-bold">Data/Hora da Aprovação do Orçamento:</p>
          <p>{{ budget.dataHoraAprovacao | date: 'dd/MM/yyyy HH:mm' }}</p>
        </ul>

        <ul *ngIf="budget.rejeitado" class="d-flex flex-row gap-1">
          <p class="fw-bold">Data/Hora da Rejeição do Orçamento:</p>
          <p>{{ budget.dataHoraRejeicao | date: 'dd/MM/yyyy HH:mm' }}</p>
        </ul>
      </ul>
     
      <hr id="line">

      <ul class="box-actions">
        <div class="div-value">
            <p class="fw-bold ">Valor Orçado:</p>
            <h3 class="price fw-bold ">R$ {{budget.valorOrcamento}}</h3>
        </div>
        <div class="div-buttons-actions">
          <button class="button-action reject" data-bs-toggle="modal" data-bs-target="#rejectReasonModal">
            Rejeitar Serviço
          </button>
          <button class="button-action approve" data-bs-toggle="modal" data-bs-target="#confirmServiceModal">
            Aprovar Serviço
          </button>
        </div>
      
      </ul>

        <!-- Modal de Aprovação -->
        <div class="modal fade" id="confirmServiceModal" tabindex="-1" aria-labelledby="confirmServiceModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header custom-modal-header">
                <h5 class="modal-title" id="confirmserviceModalLabel">ATENÇÃO!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  Você realmente deseja aprovar o serviço no valor de {{budget.valorOrcamento}}?
              </div>
              <div class="modal-footer d-flex justify-content-between">
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#approveServiceModal" (click)="approveService()">
                  Confirmar aprovação
                </button>
                 <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                  Cancelar
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="approveServiceModal" tabindex="-1" aria-labelledby="approveServiceModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header custom-modal-header">
                <h5 class="modal-title" id="approveServiceModalLabel">Aprovado</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="returnHome()"></button>
              </div>
              <div class="modal-body">
                Serviço aprovado
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="returnHome()" data-bs-dismiss="modal">Ok</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal de Rejeição -->
        <div class="modal fade" id="rejectReasonModal" tabindex="-1" aria-labelledby="rejectReasonModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header modal-header-reject custom-modal-header">
                <h5 class="modal-title" id="rejectReasonModalLabel">ATENÇÃO!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <label for="rejectReason" class="form-label fstyle"><b>Descreva o motivo da rejeição: </b></label>
                  <input type="text" [(ngModel)]="rejectReason" id="rejectReason" placeholder="Escreva o motivo da rejeição ..." name="rejectReason" class="form-control" required [(ngModel)]="rejectReason">
              </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#rejectConfirmModal" (click)="rejectService()">
                  Confirmar Rejeição
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                  Cancelar
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="rejectConfirmModal" tabindex="-1" aria-labelledby="rejectConfirmModalLabel"  aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header custom-modal-header">
                <h5 class="modal-title" id="rejectConfirmModalLabel">Rejeitado</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="returnHome()"></button>
              </div>
              <div class="modal-body">
                Serviço rejeitado
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="returnHome()" data-bs-dismiss="modal">Ok</button>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>

