
.page-container {
   font-family: 'Poppins', sans-serif;
}

.tableBox {
  background-color: #F4F3F3;
  margin-left: 115px;
}

.title-page {
  color: #005A9B;
  margin-top: 25px;
}

#tableSolic {
  height: 20vh;
  overflow: auto;
}

#tableSolic thead {
  background-color: #4682B4;
  color: white;
}

.td-descricao {
  white-space: nowrap;
  overflow: hidden;
  text-overflow:  ellipsis;
  max-width: 4px
}

.td-estado-aberta, .td-estado-orçada,
.td-estado-rejeitada, .td-estado-aprovada,
.td-estado-redirecionada, .td-estado-arrumada,
.td-estado-paga, .td-estado-finalizada, .td-estado-aguardando_pagamento {
   text-transform: uppercase;
   font-weight: 700;
}

.td-estado-ABERTA {
  color: #5e5e5e;
  font-weight: 700;
}

.td-estado-ORÇADA {
  color: #683513;
  font-weight: 700;
}

.td-estado-REJEITADA {
  color: #FF0E0E;
  font-weight: 700;
}

.td-estado-APROVADA {
   color: #e4d22f;
   font-weight: 700;
 }

 .td-estado-REDIRECIONADA {
   color: #510981;
   font-weight: 700;
 }

 .td-estado-ARRUMADA, .td-estado-aguardando_pagamento {
   color: #1956fd;
   font-weight: 700;
 }

 .td-estado-PAGA {
   color: #ff9113;
   font-weight: 700;
 }

 .td-estado-FINALIZADA {
   color: #078f02;
   font-weight: 700;
 }

.btn-acao {
  width: 60%;
  padding: 0 !important;
  color: white;
  font-size: 0.8rem;
}

.btn-aprovar {
  background-color: #06791F;
}

.btn-rejeitar {
  background-color: #FF0E0E;
}

.btn-resgatar {
  background-color: #7028CB;
}

.btn-pagar {
  background-color: #FD720D;
}
