<app-sidebar></app-sidebar>

<div class="page-container d-flex flex-column justify-content-center align-items-center vh-100">
  <h2 class="title-page mb-4 fw-bold">Suas Solicitações</h2>
  <section class="sectionTable container">
    <div class="tableBox p-3 rounded">
      <table id="tableSolic" class="display">
        <thead>
          <tr>
            <th>Solicitação</th>
            <th>Data/Hora</th>
            <th>Descrição do Equipamento</th>
            <th>Estado</th>
            <th>Acões Disponíveis</th>
            <th>Visualizar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let request of requests">
            <td>Solicitação {{ request.id }}</td>
            <td>{{ request.date }}</td>
            <td class="td-descricao">{{ request.description }}</td>
            <td class="td-estado-{{request.status.toLocaleLowerCase()}}">{{ request.status }}</td>
            <td [ngSwitch]="request.status">
              <button *ngSwitchCase="'ORÇADA'" class="btn btn-acao btn-aprovar" (click)="viewBudget()">Aprovar Serviço</button>
              <button *ngSwitchCase="'ORÇADA'" class="btn btn-acao btn-rejeitar" (click)="viewBudget()">Rejeitar Serviço</button>
              <button *ngSwitchCase="'REJEITADA'" class="btn btn-acao btn-resgatar" (click)="rescueService(request)">Resgatar Serviço</button>
              <button *ngSwitchCase="'ARRUMADA'" class="btn btn-acao btn-pagar" (click)="payService(request)">Pagar Serviço</button>
            </td>
            <td>
              <button class="btn btn-primary" (click)="viewService()">Visualizar</button>
            </td>
          </tr>
        </tbody>



      </table>
    </div>
  </section>
</div>
