<app-sidebar [title]="'Visualizar Serviço'"></app-sidebar>
<div class="container-view-service">
  <div class="details-container p-5 py-4 d-flex flex-column" *ngIf="request">
    <h2 class="text-2xl text-blue-800 mb-4">Detalhes da Solicitação - {{ request.id }}</h2>
    
    <div class="details-infos d-flex flex-column gap-3 mt-4">
      <div class="row">
        <div class="details-item col-4 d-flex gap-3">
          <p>Cliente:</p>
          <span>{{ request.cliente?.nome }}</span>
        </div>
        <div class="details-item col-4 d-flex gap-3">
          <p>Data / Hora da Solicitação:</p>
          <span>{{ request.dataHoraCriacao | date:'dd/MM/yyyy HH:mm' }}</span>
        </div>
      </div>

      <div class="row">
        <div class="details-item col d-flex gap-3">
          <p>Descrição do Equipamento:</p>
          <span>{{ request.descricaoEquipamento }}</span>
        </div>
      </div>

      <div class="row">
        <div class="details-item col d-flex gap-3">
          <p>Categoria do equipamento:</p>
          <span>{{ request.categoriaEquipamento?.descricao }}</span>
        </div>
      </div>

      <div class="row">
        <div class="details-item col d-flex gap-3">
          <p>Descrição do Defeito:</p>
          <span>{{ request.descricaoDefeito }}</span>
        </div>
      </div>

      <div class="row">
        <div class="details-item col d-flex gap-3">
          <p>Estado Atual:</p>
          <span [ngClass]="getStatusClass()">{{ request.estadoSolicitacao?.descricao }}</span>
        </div>
      </div>
    </div>
  </div>


  <div class="history-container p-5 py-4">
    <h2>Histórico da Solicitação</h2>
    <div class="timeline mt-5">
      <div class="timeline-box" *ngFor="let item of timelineStates">
        <div class="timeline-item">
          <div class="timeline-icon" [ngClass]="getStateStatus(item.state)">
            <span class="material-symbols-outlined">{{ item.icon }}</span>
          </div>
          <div class="timeline-description">
            <p class="etapa-name">{{ item.label }}</p>
            <p *ngIf="getStateDate(item.state)">
              Data: {{ getStateDate(item.state) | date:'dd/MM/yyyy' }}
            </p>
            <p *ngIf="item.state === 'ORCADA' && budget?.funcionario">
              Funcionario: {{ budget?.nomeFuncionario }}
            </p>
          </div>
        </div>
        <div class="timeline-line" [ngClass]="getStateStatus(item.state)"></div>
      </div>
    </div>
  </div>

  <div class="btn-return-box">
    <button (click)="returnHome()">Voltar</button>
  </div>

  <div class="action-buttons mt-4 d-flex justify-content-center" *ngIf="getActionButton()">
    <button class="btn" [ngClass]="getButtonClass()" (click)="executeAction()">
      {{ getActionButton() }}
    </button>
  </div>
</div>