<app-employee-sidebar title="Funcionários"></app-employee-sidebar>

<div class="page-container d-flex flex-column justify-content-center align-items-center vh-100">
  <div class="row">
        <div class="form-group">
          <label for="name">Nome</label>
          <input
            id="name"
            type="text"
            class="form-control"
            [(ngModel)]="employee.nome"
            name="name"
            required
          />
          <label for="email">Email</label>
          <input
            id="email"
            type="text"
            class="form-control"
            [(ngModel)]="employee.email"
            name="email"
            required
          />
          <label for="date">Data de Nascimento</label>
          <input
            id="date"
            type="text"
            class="form-control"
            mask="00/00/0000" 
            [dropSpecialCharacters]="false"
            [(ngModel)]="employee.dataNascimento"
            name="date"
            required
          />
          <div *ngIf="!edit"><label for="password">Senha</label>
            <input
              id="password"
              type="password"
              class="form-control" 
              [(ngModel)]="employee.senha"
              name="password"
              required
            />
          </div>
        </div>
        <div class="text-danger">
          <div *ngIf="errorDate">A data informada não é valida! </div>
          <div *ngIf="errorEmpty">Preencha todos os campos corretamente! </div>
      </div>
        <button type="submit" class="btn btn-success mt-4" (click)="save()">Salvar</button>
        <a [routerLink]="['/employees']" class="btn btn-secondary mt-2">Cancelar</a>
  </div>
</div>

<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header custom-modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ERRO</h5>
      </div>
      <div class="modal-body">
        <p>{{errorMessage}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
