<app-employee-sidebar [title]="'Efetuar Orçamento'"></app-employee-sidebar>

<div class="container-view-service">

  <div *ngIf="request" class="details-container p-5 py-4 d-flex flex-column">
    <h2>Detalhes da Solicitação - {{ request.id }}</h2>
    <div class="details-infos d-flex flex-column gap-3 mt-4">
      <div class="row">
        <div class="details-item col-4 d-flex gap-3">
          <p class="">Cliente:</p>
          <span>{{ request.cliente.nome }}</span>
        </div>
        <div class="details-item col-4 d-flex gap-3">
          <p>Data / Hora da Solicitação</p>
          <span> {{ request.dataHoraCriacao |  date: 'dd/MM/yyyy HH:mm' }} </span>
        </div>
      </div>
      <div class="row">
        <div class="details-item col-4 d-flex gap-3">
          <p class="">Descrição do Equipamento:</p>
          <span>{{ request.descricaoEquipamento }} </span>
        </div>
        <div class="details-item col d-flex gap-3">
          <p>Estado Atual:</p>
          <span class="estado aprovada"> {{ request.estadoSolicitacao.descricao }} </span>
        </div>
      </div>
      <div class="row">
        <div class="details-item col d-flex gap-3">
          <p>Categoria do equipamento:</p>
          <span>Notebook</span>
        </div>
      </div>
      <div class="row">
        <div class="details-item col d-flex gap-3">
          <p>Descrição do Defeito:</p>
          <span>Notebook não está ligando</span>
        </div>
      </div>
    </div>
  </div>
  <div class="make-budget-container p-5 py-4">
    <h2>Efetuar orçamento</h2>
    <div class="make-budget-inputs row d-flex gap-5">
      <form action="" class="row d-flex gap-5">
        <div class="input-budget-box col-3 d-flex gap-3 justify-content-center align-center">
            <span>Preço:</span>
            R$<input type="number" class="form-control input-valor" name="valorOrcamento" [(ngModel)]="valorOrcamento">
        </div>
        <div class="input-budget-box  col-6 d-flex gap-1">
            <span>Descrição do Orçamento:</span>
            <textarea type="text" #descricaoOrcamento class="form-control input-descricao" placeholder="Escreva uma descrição para o orçamento (opcional)"></textarea>
        </div>
      </form>
      <div class="row col-7 justify-content-start d-flex gap-5 flex-row">
        <button class="col-2 btn-salvar-voltar" (click)="returnHome()">Voltar</button>
        <button class="col-2 btn-salvar-orcamento" data-bs-toggle="modal" data-bs-target="#exampleModal">Confirmar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">ATENÇÃO</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Você realmente deseja orçar a solicitação no valor de R${{valorOrcamento}} ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-bs-target="#orcado" data-bs-toggle="modal" (click)="confirmBudget(descricaoOrcamento.value)">CONFIRMAR</button>
      </div>
    </div>
  </div>
</div>




<div class="modal fade " id="orcado" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content ">
      <div class="modal-header ">
        <h5 class="modal-title">ORÇADO!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body ">
        <p> Serviço  orçado no valor de</p>
        <p id="price">  R$ {{valorOrcamento}}</p>
      </div>
      <div class="modal-footer align-items-center">

        <button type="button" class="btn btn-primary" (click)="returnHome()"  data-bs-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
