<app-employee-sidebar [title]="'Funcionários'"></app-employee-sidebar>


  <div class="page-container d-flex flex-column justify-content-center align-items-center vh-100">
    <section class="sectionTable container">
      <div class="tableBox p-3 rounded overflow-auto">
        <a [routerLink]="['/employees/new']" class="btn btn-primary">Novo Funcionário</a>
        <table id="tableSolic" class="display">
          <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Data de Nascimento</th>
                <th>Ações</th>
                </tr>   
          </thead>
          <tbody>
            <tr *ngFor="let func of Funcionarios">
                <td>{{ func.id }}</td>
                <td>{{ func.name }}</td>
                <td>{{ func.email }}</td>
                <td>{{func.birthDate}}</td>
                <td>
                    <button class="btn btn-info" [routerLink]="['/employees/new', func.id]">Editar</button>
                    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#removeEmployee" (click)="openRemoveModal(func.id)">Remover</button>
                </td>
                </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>

  <div class="modal fade" id="removeEmployee" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header custom-modal-header">
          <h5 class="modal-title" id="exampleModalLabel">ATENÇÃO</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Você realmente deseja remover esse funcionário?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success" data-bs-toggle="modal" (click)="removerFuncionario()">Finalizar</button>
        </div>
      </div>
    </div>
  </div>