<app-sidebar></app-sidebar>

<div class="page-container d-flex flex-column justify-content-center align-items-center vh-100 px-5 pt-4 pb-4">
    <h2 class="title-page mb-4 fw-bold m-5">Nova Solicitação</h2>

        <div class="card-body row align-items-center m-5">

            <div class="row">
                <label for="descEquipamento" class="form-label fstyle"><b>Descrição do Equipamento: </b></label>
                <input type="text" placeholder="Descreva o Equipamento" name="descEquipamento" class="form-control" required [(ngModel)]="descEquipamento">
            </div>
            
            <div class="row">
                <label for="categoria" class="form-label fstyle"><b>Categoria do Equipamento </b></label>
                <input type="radio" placeholder="Escolha uma categoria" name="categoria" class="form-control" required [(ngModel)]="categoria">
            </div>
            
            <div class="row">
                <label for="defeito" class="form-label fstyle"><b>Descrição do Defeito </b></label>
                <input type="text" placeholder="Descreva o defeito" name="defeito" class="form-control" required [(ngModel)]="defeito">
            </div>
        
            <button [disabled]="submiting" type="submit" class="mt-5 btn btn-primary btn-lg bstyle" (click)="loginAction()">Gravar</button>


        </div>

        

</div>