<app-sidebar [title]="'Resgatar Serviço'"></app-sidebar>


<div *ngIf="budget" class="page-container d-flex flex-column  justify-content-center  align-items-center ">
    <h2 class="title-page mt-5 fw-bold "> Detalhes da Solicitação Rejeitada</h2>
    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-sm-6">
                <ul class="  d-flex flex-row gap-3">
                    <p class=" fw-bold ">Data  Hora da Solicitação :</p>
                    <p>{{ budget.solicitacao.dataHoraCriacao | date: 'dd/MM/yyyy HH:mm' }}</p>
               </ul>
               <ul class="  d-flex flex-row gap-3">
                   <p class="fw-bold">Descrição do Equipamento :</p>
                   <p>{{ budget.solicitacao.descricaoEquipamento }}</p>
              </ul>
              <ul class="  d-flex flex-row gap-3">
                   <p class="fw-bold">Categoria do equipamento :</p>
                   <p>{{budget.solicitacao.categoriaEquipamento.descricao}}</p>
              </ul>
               <ul class="  d-flex flex-row gap-3">
                   <p class="fw-bold">Descrição do Defeito :</p>
                   <p>{{ budget.solicitacao.descricaoDefeito }}</p>
               </ul>
               <ul class="  d-flex flex-row gap-3">
                   <p class="fw-bold">Estado Atual:</p>
                   <p id="status">{{ budget.solicitacao.estadoSolicitacao.descricao }}</p>
               </ul>
            </div>

            <div class="card col-sm-5 bg-light">
                <div class="card-title fw-bold">Motivo da rejeição: </div>
                <div class="card-body">{{budget.motivoRejeicao}}</div>
            </div>

        </div>

        <hr id="line">

        <ul class="d-flex flex-row mt-4 ms-3">
            <p class="fw-bold ">Valor a Pagar:</p>
            <h3  class="price fw-bold ">R$ {{budget.valorOrcamento}}</h3>
            <button  type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn" (click)="reapproveService()">Reaprovar Serviço</button>
        </ul>
        <button (click)="returnHome()" class="btn-return-box ms-4 mt-2">VOLTAR</button>
    </div>
</div>




  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Serviço reaprovado!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>O serviço foi reaprovado corretamente, redirecionando para o menu inicial.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="returnHome()">OK</button>
        </div>
      </div>
    </div>
  </div>
