<app-employee-sidebar></app-employee-sidebar>

<div class="page-container d-flex flex-column justify-content-center align-items-center vh-100">
    <h2 class="title-page mb-4 fw-bold">Solicitações</h2>
    <section class="sectionTable container">
      <div class="tableBox p-3 rounded">
        <div class="container ">
          <div class="dropdown dropdownContainer d-flex">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownFilterRequest" data-bs-toggle="dropdown" aria-expanded="false">Filtros
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownFilterRequest">
              <li><a class="dropdown-item" (click)="filterInitialDate()">Data Inicial
                <input type="date" name="dateInitialFilter" class="form-control" required [(ngModel)]="initialDate">
              </a></li>
              <li><a class="dropdown-item" (click)="filterFinalDate()">Data Final
                <input type="date" name="dateInitialFilter" class="form-control" required [(ngModel)]="finalDate">
              </a></li>
              <li><a class="dropdown-item" (click)="filterToday()">Hoje</a></li>
              <li><a class="dropdown-item" (click)="removeFilters()">Todas</a></li>
            </ul>
          </div>
        </div>
        <table id="tableSolic" class="display">
          <thead>
            <tr>
              <th>Data/Hora</th>
              <th>Solicitação</th>
              <th>Cliente</th>
              <th>Descrição do Equipamento</th>
              <th>Estado</th>
              <th>Acões Disponíveis</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let request of requests">
              <td>{{ request.date }}</td>
              <td>Solicitação {{ request.id }}</td>
              <td>{{ request.userName }}</td>
              <td class="td-descricao">{{ request.description }}</td>
              <td class="td-estado-{{request.status.toLocaleLowerCase()}}">{{ request.status }}</td>
              <td [ngSwitch]="request.status">
                <button *ngSwitchCase="'ABERTA'" class="btn btn-acao btn-orcar" (click)="doBudget(request)">Realizar Orçamento</button>
                <button *ngSwitchCase="'APROVADA'" class="btn btn-acao btn-manutencao" (click)="doMaintence()">Realizar Manutenção</button>
                <button *ngSwitchCase="'REDIRECIONADA'" class="btn btn-acao btn-manutencao" (click)="doMaintence()">Realizar Manutenção</button>
                <button *ngSwitchCase="'PAGA'" class="btn btn-acao btn-finalizar" data-bs-toggle="modal" data-bs-target="#endMaintence" (click)="openFinalizationModal(request)">Finalizar Manutenção</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>

  <div class="modal fade" id="endMaintence" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header custom-modal-header">
          <h5 class="modal-title" id="exampleModalLabel">ATENÇÃO</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Você realmente deseja finalizar essa solicitação?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success" data-bs-toggle="modal" (click)="endMaintence()">Finalizar</button>
        </div>
      </div>
    </div>
  </div>
