.sidebar {
  width: 200px;
    height: calc(100vh - 4rem); 
    background-color:#4682B4;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    z-index: 1;
}
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex: 1;
  }
  
  .sidebar li {
    display: flex;
    align-items: center;
    padding: 15px;
    cursor: pointer;

    
  }
  
  .sidebar li:hover {
    background-color:#468284;;
  }
  
  .sidebar fa-icon {
    margin-right: 10px;
  }
  .sidebar hr{
    margin:0px;
  }

 .header {
    display: flex;
    height: 4rem;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    align-items: center;
    border-bottom: 2px solid #E4E4E4;
    z-index: 10;
 } 

 .icon-header {
  font-size: 1.3rem;
   color:#4682B4;
 }
  
#hr{
    width: 100%;
    margin-top: 1px;
    position: fixed;
}
.container{
  position: fixed;
}

.title-header{
  color:#4682B4;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin: 0;
}

#span{
  margin-left: 8px;
}
.icons{
  color:#4682B4;
  font-size: 25px;
  margin-right: 4rem;
}
#user{
  margin-left: 77px;
  margin-right: 0px;
}