
<div class="header px-4">
    <div class="d-flex gap-5 align-items-center">
        <fa-icon [icon]="faBars" class="icon-header"></fa-icon>
        <h1 class="title-header">{{ title }}</h1>
    </div>

    <div class="icons d-flex gap-4 m">
      <fa-icon id="user" [icon]="faUser"></fa-icon>
      <span>{{userName}}</span>
    </div>
  </div>

  <div class="container">
    <div class="sidebar">
       <ul>
         <hr>
        <li (click)="homeAction()" id="gohome">
         <fa-icon [icon]="faHouse"></fa-icon>
         <span>Inicio</span>
        </li>
        <li (click)="viewRequests()" id="gohome">
          <fa-icon [icon]="faBook"></fa-icon>
          <span>Solicitações</span>
         </li>
        <li (click)="relatorios()" id="goRelatorios">
          <fa-icon [icon]="faFilePdf"></fa-icon>
          <span>Relatórios</span>
        </li>
        <li (click)="viewEmployees()" id="goEmployees">
          <fa-icon [icon]="faUser"></fa-icon>
          <span>Funcionários</span>
        </li>
        <li (click)="viewCategories()" id="goCategories">
          <fa-icon [icon]="faBook"></fa-icon>
          <span>Categorias</span>
        </li>
         <hr>
            <hr>
          </ul>
          <footer>
              <ul class="box">
                  <hr>
                  <li (click)="outAction()" id="goout">
                   <fa-icon [icon]="faSignOutAlt"></fa-icon>
                   <span>Sair</span>
                   </li>
                 </ul>
          </footer>
        </div>
  </div>

