html, body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
  
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
  
.container {
    width: 100%;
    max-width: 960px;
    margin: 20px auto;
}

h1 {
font-weight: bold;
font-size: 24px;
margin-bottom: 20px;
text-align: center;
}

.table {
background-color: #ffffff;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
border-radius: 8px;
overflow: hidden;
}

.btn {
margin-right: 5px;
}

.btn-info {
color: #fff;
background-color: #17a2b8;
border-color: #17a2b8;
}

.btn-danger {
color: #fff;
background-color: #dc3545;
border-color: #dc3545;
}

.btn-primary {
margin-top: 10px;
}
  