<app-employee-sidebar [title]="'Categorias de Equipamentos'"></app-employee-sidebar>


  <div class="page-container d-flex flex-column justify-content-center align-items-center vh-100">
    <section class="sectionTable container">
      <div class="tableBox p-3 rounded overflow-auto">
        <a [routerLink]="['/categories/new']" class="btn btn-primary">Nova Categoria</a>
        <table id="tableSolic" class="display">
          <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Ações</th>
                </tr>
          </thead>
          <tbody>
            <tr *ngFor="let categoria of categorias">
                <td>{{ categoria.id }}</td>
                <td>{{ categoria.descricao }}</td>
                <td>
                    <button class="btn btn-info" [routerLink]="['/categories/edit', categoria.id]">Editar</button>
                    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#removeCategory" (click)="removerCategoria(categoria.id)">Remover</button>
                </td>
                </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>
