.page-container {
  font-family: 'Poppins', sans-serif;
}

.tableBox {
  background-color: #F4F3F3;
  max-height: 80vh;
  margin-left: 115px;
}

.title-page {
  color: #005A9B;
  margin-top: 25px;
}

#tableSolic thead {
  background-color: #4682B4;
  color: white;
}

.btn {
margin-right: 5px;
}

.btn-info {
color: #fff;
background-color: #17a2b8;
border-color: #17a2b8;
}

.btn-danger {
color: #fff;
background-color: #dc3545;
border-color: #dc3545;
}

.btn-primary {
margin-top: 10px;
}
