<app-employee-sidebar title="Efetuar Manutenção"></app-employee-sidebar>

<div class="container-view-service">

  <div class="details-container p-5 py-4 d-flex flex-column">
    <h2>Detalhes da Solicitação - Solicitação 1</h2>
    <div class="details-infos d-flex flex-column gap-3 mt-4">
      <div class="row">
        <div class="details-item col-4 d-flex gap-3">
          <p class="">Cliente:</p>
          <span>João da Silva</span>
        </div>
        <div class="details-item col-4 d-flex gap-3">
          <p>Data / Hora da Solicitação</p>
          <span>12/09/2024 14:36</span>
        </div>
      </div>
      <div class="row">
        <div class="details-item col-4 d-flex gap-3">
          <p class="">Descrição do Equipamento:</p>
          <span>Notebook Lenovo</span>
        </div>
        <div class="details-item col d-flex gap-3">
          <p>Estado Atual:</p>
          <span class="estado aprovada">APROVADA</span>
        </div>
      </div>
      <div class="row">
        <div class="details-item col d-flex gap-3">
          <p>Categoria do equipamento:</p>
          <span>Notebook</span>
        </div>
      </div>
      <div class="row">
        <div class="details-item col d-flex gap-3">
          <p>Descrição do Defeito:</p>
          <span>Notebook não está ligando</span>
        </div>
      </div>
    </div>
  </div>
  <div class="make-budget-container p-5 py-4">
    <h2>Manutenção</h2>
    <div class="make-budget-inputs row d-flex gap-5 col-md-12">
        <button class="col-3 btn btn-success">Efetuar Manutenção</button>
        <button class="col-3 btn btn-info" style="color: white;">Redirecionar Manutenção</button>
    </div>

    <div class="row col-md-10" style="position: absolute; bottom: 20px;">
      <button class="col-1 btn btn-secondary" (click)="returnHome()">Voltar</button>
    </div>
  </div>
</div>

